$dark-gray-1: #1d222c;
$dark-gray-2: #5e636c;
$dark-gray-3: #1f242b;
$light-gray-1: #9ba1b0;
$light-gray-2: #e8e9ef;
$light-gray-3: #858d9f;
$light-gray-4: #c1bfd9;
$light-gray-5: #78889f;
$light-gray-6: #f5f3fb;
$light-gray-7: #fcfbfe;
$light-purple: #aba9da;
$light-purple-2: #635fd1;
$white: #fff;
$black: #000;
